{% extends 'common/_base.html' %}

{% block content %}
  <div class='row'>
    <div class='col-xs-12'>
      <div class='box'>
        <div class='box-header'>
          <h1 class='box-title'>Cotizaciones</h1>

          <div class='box-tools'>
            <a href='{% url "quotes:new" %}' class='btn btn-block btn-primary'>
              <i class="fa fa-plus" aria-hidden="true"></i>
              Crear Cotización
            </a>
          </div>
        </div>

        <div class='box-body table-responsive no-padding'>

          <table class='table table-bordered table-responsive table-striped table-hover'>
            <thead>
            <tr>
              <th>#</th>
              <th>Código</th>
              <th>Propietario</th>
              <th>Estado</th>
              <th>RUC</th>
              <th>Válida hasta</th>
              <th>Ver</th>
            </tr>
            </thead>

            <tbody>
            {% for cotizacion in lista_cotizaciones %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href='{{ cotizacion.get_absolute_url }}'>{{ cotizacion.codigo|upper }}</a></td>
                <td>{{ cotizacion.propietario_id.userprofile.full_name }}</td>
                <td>{{ cotizacion.get_estado_display }}</td>
                <td>{{ cotizacion.ruc }}</td>
                <td>{% if cotizacion.valida_hasta %}{{ cotizacion.valida_hasta|date:'d M Y' }} {% else %} - {% endif %}</td>
                <td><a href='{{ cotizacion.get_detail_url }}'>Detalle</a></td>
              </tr>
            {% empty %}
              <tr>
                <td colspan='6'>No hay cotizaciones registradas</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
