{% extends 'common/_base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <ul class='breadcrumb'>
            <li><a href='{% url 'quoman:dashboard' %}'> <i class="fa fa-home" aria-hidden="true"></i> Dashboard</a></li>
            <li><a href='{% url 'quotes:list' %}'>Cotizaciones</a></li>
            <li class='active'><a>{% if cotizacion %}{{ cotizacion.codigo}}{% else %}Nueva Cotización{% endif %}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="box-header with-border">
      <h1 class='box-title'>Cotización {% if producto %}Edición{% else %}Registro{% endif %}</h1>
    </div>

    <form class='form-horizontal' action='#' method='POST' enctype='multipart/form-data'>
      <div class="box-body">
        {% csrf_token %}
        {{ quoteReceiverFormSet.management_form }}
        {{ quoteProductFormSet.management_form }}

        {% crispy form form.helper %}

        <fieldset>
          <legend>Productos</legend>
          <div id='formset-productos'>
            {% for form in quoteProductFormSet %}
              <div class='product_inline'>
                {% crispy form form.helper %}
              </div>
            {% endfor %}
          </div>

          <div class='row'>
            <div class="col-lg-2 text-right">
              <button id='btnProducto' class='btn'>
                <i class="fa fa-plus" aria-hidden="true"></i>
                Añadir Producto
              </button>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <legend>Destinatarios</legend>
          <ul id='formset-destinatarios'>
            {% for form in quoteReceiverFormSet %}
              {% crispy form helper %}
            {% endfor %}
          </ul>

          <div class="col-lg-2 text-right">
            <button id='btnDestinatario' class='btn'>
              <i class="fa fa-plus" aria-hidden="true"></i>
              Añadir Destinatario
            </button>
          </div>
        </fieldset>
      </div>

      <div class="box-footer">
        <div class="row">
          <div class="col-lg-2 text-right">
            <button class='btn btn-primary'>
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
              Enviar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock content %}


{% block js %}
  <script type='template/productos'>
    <div class='product_inline'>
      {% crispy quoteProductFormSet.empty_form helper %}
    </div>
  </script>

  <script type='template/destinatarios'>
    {% crispy quoteReceiverFormSet.empty_form helper %}
  </script>

  <script>
      $(function () {
          // cotizaciones
          var $totalDestinatarios = $('#id_quotereceiver_set-TOTAL_FORMS');

          $('#btnDestinatario').click(function (event) {
              event.preventDefault();
              var total = parseInt($totalDestinatarios.val(), 10);
              var clon = $('script[type="template/destinatarios"]').html();
              clon_html = replaceAll(clon, '__prefix__', (total).toString());
              $('#formset-destinatarios').append(clon_html);
              $totalDestinatarios.val(total + 1);
          });

          // productos
          var $totalProductos = $('#id_productos_a_cotizar-TOTAL_FORMS');

          $('#btnProducto').click(function (event) {
              event.preventDefault();
              var total = parseInt($totalProductos.val(), 10);
              var clon = $('script[type="template/productos"]').html();
              clon_html = replaceAll(clon, '__prefix__', (total).toString());
              $('#formset-productos').append(clon_html);
              $totalProductos.val(total + 1);
          });

          // cambio de un producto
          $('body').on('change', '.product_inline .producto', function (ev) {
              ev.preventDefault();
              var _this = $(this),
                  _id = _this.val(),
                  _parent = _this.closest('.product_inline');

              if (!_id) {
                  return;
              }

              $.ajax({
                  url: '/productos/api/' + _id + '/?format=json',
              })
                  .done(function (data) {
                      _parent.find('.sku').val(data.sku);
                      _parent.find('.nombre').val(data.nombre);
                      _parent.find('.detalle').val(data.detalle);
                      _parent.find('.precio').val(data.precio);
                  });
          })
      })
  </script>
{% endblock js %}
