{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>QuoMan</title>

  <link rel='stylesheet' href='{% static "bootstrap/css/bootstrap.min.css" %}'>
  <link rel='stylesheet' href='{% static "adminlte/css/AdminLTE.min.css" %}'>
  <link rel='stylesheet' href='{% static "adminlte/css/skin-blue-light.min.css" %}'>
</head>

<body>
{% include 'common/_messages.html' %}

{% include 'common/_header.html' %}

{% block content %}
{% endblock content %}

<script src='{% static "js/jquery-3.1.1.min.js" %}'></script>
<script src='{% static "bootstrap/js/bootstrap.min.js" %}'></script>

<script src='{% static "js/utils.js" %}'></script>

{% block js %}
{% endblock js %}
</body>
</html>
