{% extends 'common/_base.html' %}
{% load crispy_forms_tags %}

{% block content %}

  <div class="box box-primary">
    <div class="box-header with-border">
      <h1 class='box-title'>Mi Perfil</h1>
    </div>

    <form class='form-horizontal' action='#' method='POST' enctype='multipart/form-data'>
      <div class="box-body">
        {% crispy form helper %}
      </div>

      <div class="box-footer">
        <div class="row">
          <div class="col-lg-2 text-right">
            <button class='btn btn-primary'>
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
              Enviar
            </button>
          </div>
        </div>
      </div>
    </form>

    <div class='row'>
      <div class='col-lg-2 text-right'>
        <a href='{% url "users:update_password" %}' class='bold'>Cambiar contraseña</a>
      </div>
    </div>
  </div>
{% endblock content %}
