/* general */

.bold
  font-weight bold

/* layout */
.box-header .breadcrumb
  margin-bottom 0
  background-color transparent

  a
    padding 10px 0

/* forms */
.form-condensed
  .form-group
    margin-top 0
    margin-bottom 3px

  textarea
    height 120px

  .help-block
    margin-top 2px

.inline-item
  border-bottom 1px solid #e5e5e5
  margin-bottom 10px

  &:last-of-type
    border-bottom none

fieldset
  margin-top 10px
