{
  "DATABASE_NAME": "",
  "DATABASE_HOST": "",
  "DATABASE_USER": "",
  "DATABASE_PASSWORD": "",

  "SECRET_KEY": "",

  "EMAIL_HOST": "",
  "EMAIL_HOST_USER": "",
  "EMAIL_HOST_PASSWORD": "",
  "DEFAULT_FROM_EMAIL": "",
  "SERVER_EMAIL": "",

  "SITE_URL": "http://127.0.0.1:8000"
}
